<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>999593896509-155pu2l71fagradgoh2dd58g4h6oi9if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999593896509-155pu2l71fagradgoh2dd58g4h6oi9if</string>
	<key>API_KEY</key>
	<string>AIzaSyAzElHzL195HV4l2SdQchnUEX7GxFwq5Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>999593896509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evolempirecreative.OthersMobile</string>
	<key>PROJECT_ID</key>
	<string>others-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>others-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999593896509:ios:7d451d61240fd6f9</string>
	<key>DATABASE_URL</key>
	<string>https://others-mobile.firebaseio.com</string>
</dict>
</plist>